
.card-active:focus {
	color: #6d4ebf;
    background: #f4f1fa;
    font-family: "PublicSans Semibold";
    border: 1px solid #6d4ebf !important;
}
.card-active {
    font-family: "PublicSans Semibold";
    border: 1px solid gray !important;
}
.msg-textarea{
    font-size:14px;
	box-shadow: none!important;
    min-height: 14rem!important
}
.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}
.step-name{
}
.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 6px;
  border:1px solid #333232;
  background: white;

}

.stepper-item.active {
  font-weight: bold;
  color:#333232;
  
}
.stepper-item.active .step-counter{
  background: white;
  border: 1px solid #fc9aaa;
  color:#333232;
}

.stepper-item.completed .step-counter {
  font-weight:600;
  border: 1px solid #fc9aaa;
}
.stepper-item.completed .step-name {
  color:#333232;
}
.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #fc9aaa;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
.btn-mui-pink{
  background-color: #fc7e93 !important;
  border:none !important;
  border-radius:15px !important;
  border-bottom:2px solid #fa375e !important;
  border-left:2px solid #fa375e !important;
  color: white !important;
  font-weight:bold !important;
}

.btn-mui-pink:active{
  background-color: #fc7e93 !important;
}
.btn-mui-pink:hover{
  background-image:linear-gradient(to right,#fa375e  , #fc7e93);
/*background-color: #fa375e !important*/
  
}