.header-menu-border{
	border: 1px solid #fa284b;
	border-radius: 10px;
}
.header-menu{
	border-right: 1px solid #fa284b;
	text-align:center;
/*	background-color:yellow;*/
	height:120px;
}

.header-menu:hover .header-menu-img{
	transform:scale(.6);
}

.header-menu-img{
	transition:all ease 1s;
	transform:scale(.5);
}
.header-menu-text{
	font-size: 14px;
	line-height:1;
}
/*display on mobile view*/
.header-menu-border-bottom{
	margin-top:5px;
	height:1px;
	opacity:1;
	background-color:#fa284b
}
.footersale-img{
	min-height:150px;
}
.stats{
	writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 5vw;
    font-weight:600;
    color:#dd2745;
    border-left:8px solid #dd2745;
}
.main-stats-text{
	font-size:5vw;
	color:#bdbdbd
}
.stats-text{
	font-size:12px;
}
.app-img{
	height:60px;
}
.social-icon{
	font-size: 2.5rem !important;
}
footer{
	background-color:#f1f1f1;
	width:100%;
}