.header-menu-border{
/*	border: 1px solid #fc7e93;*/
	border-radius: 10px;
}
.header-menu{
/*	border-right: 1px solid #fc7e93;*/
	text-align:center;
	height:100px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.header-menu:hover .header-menu-img{
	transform:scale(1.2);
}

.header-menu-img{
	transition:all ease 1s;
	width:50px;
	height:50px;
}
.header-menu-text{
	margin-top:5px;
	font-size: 10px;
	line-height:1;
}
/*display on mobile view*/
.header-menu-border-bottom{
	height:1px;
	opacity:1;
	background-color:#fc7e93
}
.footersale-img{
	min-height:150px;
}
.stats{
	writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 5vw;
    font-weight:600;
    color:#dd2745;
    border-left:8px solid #dd2745;
}
.main-stats-text{
	font-size:5vw;
	color:#bdbdbd
}
.stats-text{
	font-size:12px;
}
.app-img{
	height:60px;
}
.social-icon{
	font-size: 2.5rem !important;
}
footer{
	background-color:#f1f1f1;
	width:100%;
}