
.navbar{
	background-color:white !important;
	border-bottom: 1px solid #dedcdc;
}

.input-group-text{
	background-color:white !important;
}
input[type="search"]{
	 border: none !important;
}

.navbar-cart-badge{
	background-color:#fc7e93;
	position:absolute;
	border-radius:100%;
}

.dropdown-item:active{ 
	background-color:#fc7e93;
	}
.search-item {
	display:flex;
	justify-content:center;
	position:absolute;
	width:100%;
	z-index:999;
	background-color:red !important
}
.search-item-list {
	border-radius:20px;
	position:relative;
}

.quick-search-img{
	transition:all ease .5s;
	cursor:pointer;
}

.quick-search-img:hover{
	transform:scale(1.1);
}

