.sidebar-social-icon{
	color: #b7b2b2!important
}
.facebook-icon-text:hover  .facebook-icon{
	color:#5058e6 !important;
}
.instagram-icon-text:hover  .instagram-icon{
	color:rgb(225 42 121) !important;
}
.linkedin-icon-text:hover  .linkedin-icon{
	color:#0072b1 !important;
}
.twitter-icon-text:hover  .twitter-icon{
	color:#00acee !important;
}