footer{
	font-family: verdana;
}
/*.social-icon{
	color: #b7b2b2!important
}*/
.facebook-icon{
	color:#5f67f5 !important;
}
.instagram-icon{
	color: #ed3785 !important;
}
.linkedin-icon{
	color:#147db8 !important;
}
.twitter-icon{
	color:#2cadde !important;
}

.facebook-icon:hover{
	color:#5058e6 !important;
}
.instagram-icon:hover{
	color:rgb(225 42 121) !important;
}
.linkedin-icon:hover{
	color:#0072b1 !important;
}
.twitter-icon:hover{
	color:#00acee !important;
}