footer{
	font-family: verdana;
}
.social-icon{
	color: #b7b2b2!important
}
.facebook-icon:hover{
	color:#5058e6 !important;
}
.instagram-icon:hover{
	color:rgb(225 42 121) !important;
}
.linkedin-icon:hover{
	color:#0072b1 !important;
}
.twitter-icon:hover{
	color:#00acee !important;
}