.login-container{
	background-image: url('../../images/other/loginbg.svg');
	background-size:100% 100%;
	background-repeat:no-repeat;
	width:100%;
}

/*.login-container input[type='email'],input[type='password'],input[type='text'],input[type='number']{
	border: 0!important;
	border-radius:0
}*/
