.sidebar-active.active{
	color: red !important;
	background-color:white !important;
	font-weight: 600 !important;
	border: 1px solid #ccc !important;
}
.profile-image{
	width:150px;
	height:150px;
	background-color: #33d489;
	background-image: linear-gradient(132deg, #33d489 0%, #053b09 100%);
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 45px;
	font-weight:600;
	color:white;
}
